*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
.container
{
    width: 60%;
    min-height: 400px;
    border: 2px solid black;
    margin: auto;
}
.main-header-div 
{
    width: 100%;
    height: 80px;
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}
.main-header-div .logo
{
    width: 100%;
    height: 50px;
    background-color: rgb(84, 76, 76);
    color: white;
    /* margin-bottom: 2px; */
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}
.main-header-div .menu
{
    width: 60%;
    height: 37%;
    background-color:rgb(30, 23, 23);
    float: left;
    padding: 10px;
    font-size: 10px;
    margin: auto;
    display: flex;
    gap: 50px;
     
}

.main-header-div .menu a{
    text-decoration: none;
    color: white;

   
}
.main-header-div .menu li:hover{
    background-color: gray;
    color: white;
    
    
}
.main-header-div .search
{
    background-color:rgb(30, 23, 23);
    width: 40%;
    height: 37%;
    float:right;
    margin:auto;
    padding-top: 5px;
    padding-left: 80px;
}

 ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;

 }

 ul li{
    padding: 5px;

 }
 